#navs{
    background-color: #0D2A76;
    color: white;
    font-family: 'Noto Sans Linear A', sans-serif;
}
#jumbo{
    background-color: #0D2A76;
    width: 100%;
    text-align: center;
    color: white;
    padding: 13%;
    font-family: 'Playfair Display', serif;
}
#link{
    color: white;
    text-decoration: none;
    
}
.icon{
    width: 13%;
}
.title{
    text-align: center;
    font-family: 'Playfair Display', serif;
}
#text{
    font-family: 'Noto Sans Linear A', sans-serif;
    font-size: 20px;
}
.header{
    font-family: 'Playfair Display', serif;
}
.logo{
    height: 90px;
}
.logo:hover{
    box-shadow: 10px 10px 5px #BD6A2E;
}
.nav-link{
    color: white;
}
.nav-link:hover{
    color: #BD6A2E;
}

#questionslink{
    color: white;
    text-decoration: none;
}
#questionslink:hover{
    color: #BD6A2E
}